# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
venv/
*.egg-info/
dist/
build/
*.db
*.db-shm
*.db-wal

# Node
node_modules/
.next/
out/
.env.local
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
